# Dependency directories
node_modules/

# dotenv environment variable files
.env*

# Mac files
.DS_Store

# nextjs
.next/
out/

# Tailwind CSS cache (v4)
.tailwindcss-cache

# Playwright
playwright-report/
test-results/

tsconfig.tsbuildinfo